{require_otp_vsn, "R1[56]|1[789]|2[01]"}.
{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import,
            {platform_define, "^1[78]", no_strict_map_type},
            {platform_define, "^R1[456]", no_maps}]}.
{port_env, [{"(linux|solaris)", "CFLAGS", "$CFLAGS -O2"},
            {"(freebsd)", "CFLAGS", "$CFLAGS -O2"}]}.
{port_specs, [{"priv/lib/atomix.so", ["c_src/atomix.c"]}]}.
{eunit_opts, [verbose]}.
